#W
clk
rst_n
cpu_trap
card_event_o

#E
rdm6300_rx_i
leds_o.*

#S
uart_tx_o
uart_rx_i

#N
flash_csb
flash_clk
flash_io0_oe
flash_io0_do
flash_io0_di
flash_io1_oe
flash_io1_do
flash_io1_di
flash_io2_oe
flash_io2_do
flash_io2_di
flash_io3_oe
flash_io3_do
flash_io3_di
flash_busy_o
flash_done_o
