#W
clk
rst_n
rdm_uart_rx

#E
host_uart_tx
card_event
checksum_error
frame_error
invalid_hex_error
frame_timeout_error
rx_fifo_full
tx_fifo_full
uart_framing_error
uart_break_detect
rx_fifo_overflow
tx_fifo_overflow

#N
tag_raw\[\d+\]

#S
